<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment Gateway</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="/css/qr.css">
</head>
<body>
   <div class="main">
    <div class="container">
        <p>Scan the QR or use the UPI ID for Payment</p>
        <div class="Qr">
            <img src="{{qr}}">
        </div>
        <p>UPI ID : <span>{{upi}}</span></p>
        <p>Please fill the form after successful payment <a href="/donate/form/{{_id}}"> click here</a></p>
    </div>
   </div>
</body>
</html>