<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Settings UI Design</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="thank.css">
</head>
<body>
    <div class="popup" id="popup">
        <img src="https://static.vecteezy.com/system/resources/previews/008/506/390/original/bright-green-tick-checkmark-icon-free-png.png">
        <h2>Thank You</h2>
        <p>Your details has been successfully up dated</p>
        <a href="{{url}}"><button type="button" >Ok</button></a>
    </div>
</body>
</html>