    <div class="nevbar" id="nevbar">
        <div class="logo">
            <a href="index.html" id="logo"><h1><span>SS</span> CHARITY</h1></a>
        </div>
        <div class="menu" id="menu">
            <ul>
                <li><a id="home" href="/">Home</a></li>
                <!-- <li><a href="#explore">Explore</a></li> -->
                <li><a href="/#service">Sehemes</a></li>
                <li><a href="/contact">Contact</a></li>
                <li style="display: {{login}};"><a  href="/login">Log in</a></li>
                <li style="display: {{profile}};"><a  href="/donor/:_id">{{name}}</a></li>
            </ul>
        </div>
        <div class="menuicon">
            <i id="menuicon" onclick="togglemenu()" class="fas fa-chevron-circle-down"> <span>MENU</span></i>
        </div>
    </div>